* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 2.67rem;
  font-weight: 800;
}

h2 {
  font-size: 1.15rem;
  font-weight: 500;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

main,
.inner-header {
  margin: 0 2.5em;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6)), url(images/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 24%;
  height: 150px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 0.87em;
  font-weight: 700;
}

/* Search input */

form {
  display: flex;
  border-radius: 5px;
  position: relative;
  bottom: 20px;
}

input,
.search-btn {
  display: inline;
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 0.7rem;
}

input {
  width: 100%;
  background-color: #2e2e2f;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 3.18em;
}

input:focus {
  outline: none;
  border: 2px solid #2e2e2f;
  color: inherit;
}

.input-icon {
  position: absolute;
  padding: 0.62em;
  color: #81868f;
}

.search-btn {
  padding: 1.09em 2.72em;
  cursor: pointer;
  background-color: #4b4b4b;
  color: inherit;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Search Results */

.movie {
  display: flex;
  align-items: center;
  gap: 1em;
  border-bottom: 1.5px solid #2c2c2c;
  padding-bottom: 1.25em;
  margin-top: 1.25em;
}

.movie:last-child {
  border-bottom: none;
}

img {
  width: 99px;
}

.movie-title-details {
  display: flex;
  align-items: center;
  gap: 0.35em;
}

.star {
  color: #fec654;
  font-size: 0.65rem;
}

.movie-raiting {
  font-size: 0.75rem;
}

ul {
  display: flex;
  gap: 0.7em;
  padding: 0;
  margin: 0.45em 0;
}

li {
  list-style-type: none;
  font-size: 12px;
}

.add-btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
}

.movie-description {
  color: #a5a5a5;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* Class removed after pressing Search Btn */

.start-exploring-bg {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: auto 20%;
  background-position: center;
  height: 75vh;
}

/* WATCHLIST */

/* MEDIA */

@media (max-width: 600px) {
  .inner-header {
    flex-direction: column;
    justify-content: center;
  }

  a {
    text-decoration: underline;
  }

  ul {
    flex-wrap: wrap;
  }

  .add-btn {
    font-size: 0.95rem;
  }
}
